# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

file_path_list = []

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list.extend(glob.glob(os.path.join(root,'*')))
#     print(file_path_list)

/workspace/home

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [4]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

7160

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

In [5]:
df = pd.read_csv('event_datafile_new.csv')
df.head()

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
0,Hoobastank,Cierra,F,0,Finley,241.39710,free,"Richmond, VA",132,Say The Same,96
1,Mark Knopfler,Cierra,F,1,Finley,249.31220,free,"Richmond, VA",132,Why Aye Man,96
2,Mogwai,Cierra,F,2,Finley,341.28934,free,"Richmond, VA",132,We're No Here,96
3,The Casualties,Cierra,F,3,Finley,181.49832,free,"Richmond, VA",132,Punx Unite,96
4,The Living End,Ryan,M,0,Smith,188.62975,free,"San Jose-Sunnyvale-Santa Clara, CA",433,Roll On (Album Version),26

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [6]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])

    # To establish connection and begin executing queries, need a session
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create Keyspace

In [7]:
# Create a Keyspace 

try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkify 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
    )

except Exception as e:
    print(e)

#### Set Keyspace

In [8]:
# Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

# Query 1

Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4.

The above information give us the required data. So, we will select artist, song title, and song's length as the attribute in the table. In addition, this table can select entries with sessionId and itemInSession, so i will use this as the primary key.

## create table for query 1

In [9]:
query = "CREATE TABLE IF NOT EXISTS session_item_songs"
query = query + "(itemInSession int,\
                sessionId int,\
                artist text,\
                song text,\
                length float,\
                PRIMARY KEY (itemInSession, sessionId))"

# print(query)
try:
    session.execute(query)
except Exception as e:
    print(e)

## insert data into session_songs table

In [10]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## Assign the INSERT statements into the `query` variable
        query = "INSERT INTO session_item_songs (itemInSession, sessionId, artist, song, length)"
        query = query + " VALUES (%s, %s, %s, %s,%s)"
        ## Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (int(line[3]), int(line[8]), line[0], line[9], float(line[5])))

## Validate our table from the provided query

#### Do a SELECT to verify that the data have been inserted into each table

In [11]:
## Add in the SELECT statement to verify the data was entered into the table
query = "select artist,song,length from session_item_songs WHERE sessionId=338 and itemInSession=4"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

# print all of results in the query
i = 0
for row in rows:
    if i < 10:
        print (row.artist, row.song, row.length)
    i+=1
    
print(f'all = {i}')

Faithless Music Matters (Mark Knight Dub) 495.30731201171875
all = 1

# Query 2

Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182.

In this query, we have to select artist, song, firstName, and lastName as the attribute of the table. Moreover, we want song sorted by itemInSession, so we have to use itemInSession as the clustering key. Furthermore, this table can query with userid and sessionid, so i will use these as the primary key.

## create table for query 2

In [12]:
## Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

query = "CREATE TABLE IF NOT EXISTS user_session_songs"
query = query + "(userId int, \
                sessionId int,\
                itemInSession int,\
                artist text,\
                firstName text,\
                lastName text,\
                song text,\
                PRIMARY KEY ((userId,sessionId), itemInSession))"

# print(query)
try:
    session.execute(query)
except Exception as e:
    print(e)

## insert data into user_session_songs table

In [13]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## Assign the INSERT statements into the `query` variable
        query = "INSERT INTO user_session_songs (userId, sessionId, itemInSession, artist, firstName,lastName, song)"
        query = query + " VALUES (%s, %s, %s, %s,%s,%s,%s)"
        ## Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (int(line[10]), int(line[8]), int(line[3]), line[0], line[1], line[4], line[9]))

## Validate the table from provided query.

In [14]:
# select artist, song
query = "select artist,song,firstName,lastName from user_session_songs WHERE userId=10 and sessionId=182"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
# print all of results in the query
i = 0
for row in rows:
    if i < 10:
        print (row.artist, row.song, row.firstname, row.lastname)
    i+=1
    
print(f'all = {i}')

Down To The Bone Keep On Keepin' On Sylvie Cruz
Three Drives Greece 2000 Sylvie Cruz
Sebastien Tellier Kilometer Sylvie Cruz
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Sylvie Cruz
all = 4

# Query 3

Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

For the last query, i want firstName and lastName as the attribute of the table. The entries in this table can query with the song name, so i will use the song as the primary key. In addition, i does not ensure that the song will be unique. Therefore, i will add the userid as the composit primary key for this table.

## create table for query 3

In [15]:
## Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

query = "CREATE TABLE IF NOT EXISTS song_listener_history"
query = query + "(song text,\
                userId int,\
                firstName text,\
                lastName text,\
                PRIMARY KEY ((song),userId))"

# print(query)
try:
    session.execute(query)
except Exception as e:
    print(e)

## insert data into songs_listening table

In [16]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## Assign the INSERT statements into the `query` variable
        query = "INSERT INTO song_listener_history (song, userId, firstName, lastName)"
        query = query + " VALUES (%s, %s, %s, %s)"
        ## Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[9], int(line[10]), line[1], line[4]))

## validate our table with the provided query

In [17]:
# select artist, song
query = "select firstName,lastName from song_listener_history WHERE song='All Hands Against His Own'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

# print all of results in the query
i = 0
for row in rows:
    if i < 10:
        print (row.firstname, row.lastname)
    i+=1
    
print(f'all = {i}')

Jacqueline Lynch
Tegan Levine
Sara Johnson
all = 3

### Drop the tables before closing out the sessions

In [18]:
## Drop the table before closing out the sessions
drop_table1_query = "drop table sparkify_user_song_event1"
drop_table2_query = "drop table sparkify_user_song_event2"
drop_table3_query = "drop table sparkify_user_song_event3"
try:
    session.execute(drop_table1_query)
    session.execute(drop_table2_query)
    session.execute(drop_table3_query)
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="unconfigured table sparkify_user_song_event1"

### Close the session and cluster connection¶

In [19]:
session.shutdown()
cluster.shutdown()